footer {
    background-color: rgb(17, 17, 17);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: block;
}

footer div.rede-social {
    text-align: left;
}

footer div.rede-social a {
    margin-left: 2rem;
}

footer path {
    fill: #fff;
}